/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CUSTOM STYLES */
h1{
    font-size: 40px;
    padding: 30px 0;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.icon{
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
}
.icon h2{
    display: inline-block;
    font-weight: 550;
    color: rgb(245, 245, 245);
    font-size: 16px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.brand img{
    width: 150px;
}
.header-top{
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(8, 8, 59);
    height: fit-content;
    padding: 10px 80px;
}
.bell{
    margin-right: 35px;
}
.hero{
    padding: 80px;
}
h3{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
}
.aside-nav{
    width: 30%;
    height: 82vh;
    background-color: rgb(171, 212, 240);
    border-radius: 18px;
}
.side-para{
    width: 60%;
    height: 82vh;
    background-color: rgb(230, 223, 223);
    border-radius: 18px;
}
.nav-bar{
    padding: 40px;
}
.para-content{
    padding: 40px;
}
.punch-img{
    width: 80%;
}
.para-line{
    color: rgb(60, 91, 109);
    font-size: 18px;
    line-height: 1.5;
    width: 85%;
}
.box-1{
    display:block;
    width: fit-content;
    padding: 25px;
}
.logout-icon{
    margin-top: 280px;
    width: 60%;
    height: fit-content;
    padding: 25px;
    background-color: rgb(223, 229, 231);
    border-radius: 8px;
}
.article-icon{
    width: 60%;
    padding: 25px;
    border: solid 4px rgb(240, 159, 8);
    color: rgb(240, 159, 8);
    border-radius: 8px;
}
.read-more{
    width: fit-content;
    padding: 15px 40px;
    background-color: rgb(71, 117, 2);
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    display: inline-block;
    margin-top: 20px;
}
.footer{
    align-items: center;
    height: 24px;
    padding: 40px 120px;
    background-color: rgb(8, 8, 59);
}
.footer p{
    color: whitesmoke;
    font-size: 24px;
    font-weight: 600;
    height: fit-content;
}
.footer div{
    width: 10%;
}
.footer nav{
    height: fit-content;
    font-size: 24px;
    color: rgb(142, 215, 233);
    display: inline-block;
    width: 10%;
}
i{
    padding: 0 15px;
}